<div class="navbar-section">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand text-white fw-bold fs-1" href="#">START FRAMEWORK</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link fw-bold" aria-current="page" href="#" routerLink="about" routerLinkActive="current-link rounded">ABOUT</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-bold" href="#" routerLink="portfolio" routerLinkActive="current-link rounded">PORTFOLIO</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-bold" href="#" routerLink="contact" routerLinkActive="current-link rounded">CONTACT</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </div>
</div>